<p>
  Hello from my second component
</p>
<form #form="ngForm" (ngSubmit)="submitForm()">
  <p>Product Name:
    <input type="text" required [ngClass]="[name.errors && (name.dirty || name.errors.required) ? 'invalid':'valid']" [(ngModel)]="product.name" name="name" #name="ngModel">
</p>
<p>Product Price:
<input type="number" required [ngClass]="[price.errors && (price.dirty || price.errors.required) ? 'invalid':'valid']" [(ngModel)]="product.price"
  name="price" #name="ngModel">
</p>
<p>
  <button type="submit" [disabled]="!form.valid">Submit Form!</button>
</p>
</form>